*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/appModules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.DS_Store
.externalNativeBuild
.cxx
